<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    {{>header}}    
    
</head>
<body>
    <img src="./img/מירב.jpeg">
    <p>this site is created by meirav neeman</p>
    {{>footer}}
</body>

</html>